main{
    display: flex;
    position: absolute;
    left: 50%;
}

main #list-div{
    display: flex;
    flex-direction: column;
}

main input{
    height: 3.5rem;
}

main #search{
    width: 12rem;
    font-size: 1.2em;
}

main #search-button{
    margin-left: 2px;
    width: 5rem;
    font-size: 1.1em;
    color: white;
    background-color: gray;
    border: 1px solid grey;
    transition: ease 0.5s;
}

main #search-button:hover{
    
    cursor: pointer;
    border: 1px solid black;
    font-size: 1.2em;
}

main ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

main ul li{
    background-color: white;
    font-size: 1.3em;
    padding: 5px;
    border: 1px solid gray;
}

main ul li:hover{
    background-color: lightgray;
    cursor: pointer;
}